.badge-success {
    background-color: #28a745;
}

.badge-danger{
    background-color: #dc3545;
}

.badge-warning{
    background-color: #ffc107;
}

.badge-info{
    background-color: #17a2b8;
}

.badge-secondary{
    background-color: #6c757d;
}
